<div class="signup center-block jumbotron">
  <h1>Đăng ký</h1>
  <form role="form" (submit)="signup($event, username.value, password.value)">
  <div class="form-group">
    <label for="username">Tài khoản</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Đăng ký</button>
</form>
</div>
